/*  
############
Core variables
############
*/
:root {
  /* --ff-primary: 'Open Sans', sans-serif; */
  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'ubuntu', sans-serif;

  --fw-reg: 400;
  --fw-bold: 600;
  --fw-extra-bold: 800;

  --fs-h2: 1.5rem;
  --fs-h3: 1.2rem;
  --fs-a: 1.1rem;
  --fs-body: 1rem;

  --clr-text-title: #2f463d;
  --clr-text-p: #7a8f85;
  --clr-text-a: #467a66;

  --clr-x-close-btn: #4f9779;
  --clr-bg-close-btn: #e9f2ec;

  --clr-light: #fff;
  --clr-accent-one: #46a67e;
  --clr-accent-two: #9ad8be;

  --clr-accent-item-bg: #f0fff5;

  --close-btn-size: 23px;

  --card-height-max: 750px;
  --card-height-min: 600px;
  --card-width-max: 400px;
  --card-width-min: 300px;
}

/*  
############
Basic style reset
############
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/*  
############
Separator Template
############
*/

body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  color: var(--clr-dark);
  background-color: var(--clr-light);
  background-image: url('public/ZigZag-repeatable.png');
  background-position: center;
  background-repeat: repeat;
}

.container {
  max-width: 1400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  
############
Card
############
*/

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: var(--card-width-min);
  max-width: var(--card-width-max);
  min-height: var(--card-height-min);
  max-height: var(--card-height-max);
  background-color: var(--clr-light);
  border-radius: 8px;
}

/*  
############
close button
############
*/

.close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  background-color: var(--clr-bg-close-btn);
  border-radius: 50%;
  transition: all ease 200ms;
}
.close:hover {
  transition: all ease 200ms;
  transform: scale(1.3);
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  background-color: var(--clr-x-close-btn);

  /* Direct control of the size of the close button */
  height: var(--close-btn-size);
  width: 2px;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/*  
############
Card content
############
*/

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 500px;
}

.card_image {
  background-image: url('public/happy1.svg');
  background-size: cover;
  background-position: center;
  width: 110px;
  height: 110px;
}

h2 {
  color: var(--clr-text-title);
  font-size: var(--fs-h2);
}

p {
  text-align: center;
  color: var(--clr-text-four);
  font-weight: var(--fw-reg);
  font-size: var(--fs-body);
}

/*  
############
Item choice box
############
*/

.item-choice-container {
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: var(--clr-accent-item-bg);
}

.item-image {
  width: 70px;
  height: 80px;
  border-radius: 5px 0 0 5px;
  background-image: url('public/Rectangle.png');
  background-size: cover;
  background-position: center;
}

.name-price > h3 {
  text-align: left;
  color: var(--clr-text-title);
  font-size: var(--fs-h3);
}

.name-price > p {
  text-align: left;
  color: var(--clr-text-p);
  margin-top: 5px;
  font-size: var(--fs-h3);
}

.item-choice-container > a {
  margin-right: 10px;
  font-size: var(--fs-a);
  color: var(--clr-text-a);
  transition: all ease 200ms;
}

.item-choice-container > a:hover {
  transition: all ease 200ms;
  transform: scale(1.1);
  color: var(--clr-accent-one);
}

/*  
############
Navigation button
############
*/

.next-btn {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: var(--clr-light);
  background-color: var(--clr-accent-one);
  padding: 15px 0;
  border-radius: 5px;
  box-shadow: 1px 3px 8px grey;
  transition: all ease 200ms;
}

.next-btn:hover {
  transition: all ease 200ms;
  transform: scale(1.05);
}

.nav-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

li {
  list-style: none;
}

.nav-dots > li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lightgrey;
  margin: 0 5px;
}

.nav-dots > li.active {
  background-color: var(--clr-accent-one);
}
